<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.MenuDAO">

    <resultMap type="com.baizhi.entity.Menu" id="TypeRst">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="iconCls" column="iconCls"/>
        <result property="href" column="href"/>
        <collection property="c_menu" ofType="com.baizhi.entity.Menu">
            <id property="id" column="cid"/>
            <result property="title" column="ctitle"/>
            <result property="iconCls" column="ciconCls"/>
            <result property="href" column="chref"/>
        </collection>
    </resultMap>
    <select id="queryAll" resultMap="TypeRst">
      select p.id,p.title,p.iconCls,p.href,
			c.id cid,c.title ctitle,c.iconCls ciconCls,c.href chref
      from menu p join menu c
      on p.id=c.parent_id
    </select>


</mapper>